{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin path</h1>
    {{ form_start(form) }}
    {{ form_row(form.admin_path) }}
    <button type="submit">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_setup') }}">Back to config</a>
{% endblock %}
