{% extends 'base.html.twig' %}

{% block body %}
    <h1>Configuration de l'administration</h1>
    {{ form_start(form) }}
    {{ form_row(form.admin_path) }}
    <button type="submit">Sauvegarder</button>
    {{ form_end(form) }}
{% endblock %}
